body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #cfe8ff;
}

.mainContainer {
    border: 2px solid #d0d0d0;
    text-align: center;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    margin-top: 10px;
    width: 20%;
    height: 20%;


}

/* .container1 {
            
            border: 2px solid none;
            background-color: rgb(61, 22, 199);
            text-align: center;
            height: 50px;
            width: auto;
            border-radius: 12px;
        } */
h1 {
    font-size: 30px;
    font-family: 'sans-serif';
    font-weight: bold;

}


label {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    
}

input {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    outline: none;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
    color: white;
    background-color: rgb(108, 87, 245);
    border: none;
    width: 100%;
    font-size: 18px;
}

#age {
    color: rgb(55, 58, 60);
    font-size: 18px;
}

#result {
    margin-top: 15px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-weight: bold;
    background-color: #f5f5f5;
    color: rgb(55, 58, 60);
    display: none;
    width: 90%;
    text-align: center;
}